<h3>Logged in as <%= current_user.name %> </h3>

<h5> You aren't a member of any organisations </h5>
<h5> Join an existing one or create a new one </h5>

<h1 class="mt-5">Organisations</h1>

<% organisations.each do |organisation| %>
  <%= organisation.name %>
<% end %>
